.venv
data
# script for some local machine setup
link_venv_to_ssd.sh
__pycache__/
.env
db.sqlite3
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
.fuse_hidden*

# Coverage reports
.coverage
htmlcov/
.coverage.*
coverage.xml

# images and temporary json outputs
server/media/uploaded_receipt_images/*
out.json